.panelLargeButton {
  :global(.ant-btn) {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
    gap: 6px !important;

    // 图标样式
    .anticon {
      margin: 0 !important;
      line-height: 1 !important;
    }

    // 文字样式
    span:last-child {
      margin: 0 !important;
      line-height: 1 !important;
    }
  }
}
