.colorPicker {
  width: auto;
  height: 100%;
  aspect-ratio: 1/1;

  :global(.ant-color-picker-clear) {
    width: 100%;
    height: 100%;
  }

  :global(.ant-color-picker-clear)::after {
    width: 80px;
  }

  :global(.ant-color-picker-color-block) {
    width: 100%;
    height: 100%;
  }
}
