.menu {
  height: 40px;
  padding: 0 15px;
  display: flex;
  align-items: center;

  .menuItem {
    font-size: 13px;
    font-weight: 400;
    cursor: pointer;
    margin-right: 25px;
  }

  .activeMenuItem {
    font-weight: bold;
    color: @color !important;
    position: relative;

    &::after {
      position: absolute;
      content: "";
      width: 100%;
      bottom: -5px;
      height: 2px;
      left: 50%;
      transform: translateX(-50%);
      background-color: @color;
    }
  }
}