/* Shape 组件样式 */

.shapeElement {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  outline: none;
  background: transparent;
  border: 2px solid transparent;
  user-select: none;
  overflow: visible;

  &.dragging {
    transition: none !important;
  }
}
