.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 30px;
  padding: 0 25px;
  font-size: 12px;
  color: #fff;

  .left {
    display: flex;
    align-items: center;

    .count {
      padding-right: 15px;

      :global(.iconfont) {
        padding-right: 5px;
      }
    }
  }

  .right {
    display: flex;
    align-items: center;
    color: #fff;

    .activeItem {
      background-color: rgb(0 0 0 / 5%) !important;
    }

    .textItem {
      display: flex;
      align-items: center;
      height: 30px;
      padding: 0 10px;
      margin: 0 15px;
      color: #fff;
      cursor: pointer;

      :global(.iconfont) {
        padding-right: 5px;
      }

      &:hover {
        background-color: rgb(0 0 0 / 5%);
      }

      &:active {
        background-color: rgb(0 0 0 / 10%);
      }
    }

    .btnItem {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 30px;
      height: 30px;
      cursor: pointer;

      :global(.iconfont) {
        font-size: 12px;
      }

      &:hover {
        background-color: rgb(0 0 0 / 5%);
      }
    }

    .scale {
      display: flex;
      align-items: center;
      margin-left: 15px;

      .slider {
        width: 120px;
        margin: 0 20px;
      }
    }

    .play {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 20px;
      padding: 0 10px;
      margin: 0 15px;
      cursor: pointer;
      background-color: @color;
      border-radius: 4px;

      :global(.iconfont) {
        font-size: 10px;
        color: #fff;
      }

      &:hover {
        background-color: @colorHover;
      }
    }
  }

  .line {
    width: 1px;
    height: 15px;
    background-color: #d6d6d6;
  }
}
