.buttonItem {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  aspect-ratio: 1 / 1;
  margin-right: 5px;
  cursor: pointer;
  user-select: none;
  border-radius: 5px;

  &:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }

  &:active {
    background-color: rgba(0, 0, 0, 0.1);
  }

  :global(.iconfont) {
    padding-top: 5px;
    font-size: 15px;
  }

  .buttonTitle {
    padding-top: 5px;
    font-size: 13px;
  }
}

.disableItem {
  background-color: #f3f3f3 !important;
  cursor: not-allowed !important;
  color: #b7b7b7 !important;

  :global(svg) {
    fill: #b7b7b7 !important;
  }
}
