@media screen and (max-width: 1000px) {
  /*当屏幕尺寸小于600px时，应用下面的CSS样式*/
  .viewContainer {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media screen and (min-width: 1001px) and (max-width: 1200px) {
  /*当屏幕尺寸小于600px时，应用下面的CSS样式*/
  .viewContainer {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
@media screen and (min-width: 1201px) and (max-width: 1400px) {
  /*当屏幕尺寸小于600px时，应用下面的CSS样式*/
  .viewContainer {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}
@media screen and (min-width: 1401px) {
  /*当屏幕尺寸小于600px时，应用下面的CSS样式*/
  .viewContainer {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}

.view {
  width: 100%;
  height: calc(100vh - 85px - 40px - 30px);
  background-color: #fff;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);

  .viewContainer {
    padding: 15px;
    display: grid;
    grid-gap: 20px;

    .canvasPreviewItem {
      text-align: center;
      min-width: 0; /* Allow shrinking */
      cursor: pointer;

      .canvasIndex {
        margin-top: 5px;
        font-size: 12px;
        margin-bottom: 5px;
        font-weight: bold;
        text-align: center;
      }

      &:hover {
        .previewItem {
          box-shadow: 0 0 0 2px @color;
        }
        .canvasIndex {
          color: @color;
        }
      }
    }

    .activePreviewItem {
      .previewItem {
        box-shadow: 0 0 0 2px @color;
      }
      .canvasIndex {
        color: @color;
      }
    }
  }

  .empty {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
