.colorContainer {
  :global(.ant-color-picker-clear) {
    width: 100% !important;
    // height: 100% !important;
  }
  :global(.ant-color-picker-clear)::after {
    width: 100% !important;
    transform: rotate(-12deg);
  }
  :global(.ant-color-picker-color-block) {
    width: 100% !important;
    height: 100% !important;
  }
}
