.canvas {
  flex: 1;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.1s all linear;

  canvas {
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
  }
}
