.tableButtonContainer {
  .title {
    margin-bottom: 10px;
    font-size: 13px;
  }

  .gridContainer {
    display: flex;
    flex-direction: column;
    gap: 4px;

    .gridRow {
      display: flex;
      gap: 4px;
    }

    .gridItem {
      width: 20px;
      height: 20px;
      box-sizing: border-box;
      border: 1px solid #d9d9d9;
      background-color: #fff;
      cursor: pointer;
      transition: all 0.2s;

      &:hover {
        border-color: var(--primary-color);
        background-color: rgba(242, 95, 0, 0.1);
      }
    }

    .activeGridItem {
      border-color: var(--primary-color);
      background-color: rgba(242, 95, 0, 0.1);
    }
  }
}
