.panel {
  width: 230px;
  background-color: #fff;
  border-top-right-radius: 15px;
  box-shadow: 0px 9px 12px 0px rgba(0, 0, 0, 0.33);
  position: relative;
  z-index: 1;

  .container {
    padding: 10px;
  }
}
