.panel {
  position: relative;
  z-index: 1;
  width: 250px;
  background-color: #fff;
  border-top-right-radius: 15px;
  box-shadow: 0 9px 5px 0 rgb(0 0 0 / 14.9%);

  :global(.ant-collapse) {
    margin-bottom: 15px;
  }

  :global(.ant-collapse-content-box) {
    padding: 10px !important;
  }

  :global(.ant-collapse-header) {
    padding: 12px 10px !important;
    border-radius: 0 !important;
    box-shadow: 0 0 4px 0 rgb(0 0 0 / 10%);
  }

  .container {
    .optionItem {
      margin-bottom: 15px;
    }
  }
}
