.modalHeader {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  
  :global(.os-scrollbar-horizontal) {
    height: 6px;
    bottom: 0;
  }
  
  :global(.os-scrollbar-horizontal .os-scrollbar-track) {
    background: transparent;
    height: 6px;
  }
  
  :global(.os-scrollbar-horizontal .os-scrollbar-handle) {
    background: #d9d9d9;
    border-radius: 3px;
    height: 6px;
    
    &:hover {
      background: #bfbfbf;
    }
  }
}
