.pageItem {
  &:first-child {
    margin-top: 2px;
  }
  &:not(:last-child) {
    margin-bottom: 17px;
  }

  &:hover {
    :global(.floatButton) {
      opacity: 1;
    }
  }
}

.previewCanvas {
  &.active {
    box-shadow: 0 0 0 2px #f25f00 !important;
  }
}
