.canvasPanel {
  padding: 10px;

  .panel {
    padding: 15px 0;

    :global(.ant-color-picker-trigger) {
      width: 100%;

      :global(.ant-color-picker-clear) {
        width: 100%;
      }

      :global(.ant-color-picker-color-block) {
        width: 100%;
      }

      :global(.ant-color-picker-clear)::after {
        left: 50%;
        transform: translateX(-70%) rotate(-45deg);
      }
    }

    .texture {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-gap: 8px;
      width: 100%;

      .textureItem {
        width: 100%;
        cursor: pointer;

        img {
          width: 100%;
          aspect-ratio: 1/1;
        }
      }
    }

    .optionItem {
      margin-bottom: 15px;
    }

    .select {
      width: 100%;
    }
  }

  .btn {
    margin-top: 15px;
    font-size: 13px;
  }

  .btnGroup {
    width: 100%;
    margin-top: 15px;

    :global(.ant-btn) {
      flex: 1;
      height: 35px;

      :global(.iconfont) {
        font-size: 13px;
      }
    }
  }

  .splitLine {
    width: 100%;
    height: 1px;
    background-color: #e7e7e7;
  }
}
