.panelSelect {
  width: 100%;

  :global(.ant-select-selector) {
    border: 1px solid var(--border-default) !important;
    background-color: var(--input-bg) !important;
    box-shadow: none !important;
  }

  :global(.ant-select:not(.ant-select-disabled):hover .ant-select-selector) {
    border-color: var(--thumb-border-hover) !important;
  }

  :global(.ant-select-focused:not(.ant-select-disabled) .ant-select-selector),
  :global(.ant-select-open .ant-select-selector) {
    border-color: var(--thumb-border-hover) !important;
    box-shadow: none !important;
  }
}
