@tailwind base;
@tailwind components;
@tailwind utilities;

/* CSS 变量定义 */
:root {
  /* 主题色 */
  --primary-color: #f25f00;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", sans-serif;
}

/* 全局元素选中样式 */
.element-selected {
  outline: 2px solid var(--primary-color, #f25f00) !important;
}
