.colorPanel {
  // react-colorful 自定义样式
  :global(.react-colorful) {
    width: 100%;
    height: 180px;
  }

  :global(.react-colorful__saturation) {
    border-radius: 8px 8px 0 0;
  }

  :global(.react-colorful__hue) {
    height: 24px;
    border-radius: 0 0 8px 8px;
  }

  :global(.react-colorful__pointer) {
    width: 18px;
    height: 18px;
    border-width: 2px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }

  :global(.react-colorful__saturation-pointer) {
    width: 16px;
    height: 16px;
    border-width: 2px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
}
