.list {
  background-color: #fff;
  width: 200px;
  border-top-left-radius: 15px;
  box-shadow: -5px 8px 12px 0px rgba(0, 0, 0, 0.33);
  position: relative;
  z-index: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .canvasAdd {
    height: 35px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    user-select: none;
    border-top: 1px solid #eaeaea;

    &:hover {
      background-color: @color;
      color: #fff;
    }

    :global(.iconfont) {
      font-size: 14px;
    }
  }

  .scrollContainer {
    padding: 16px 12px 0;

    .canvasPreviewItem {
      margin-bottom: 15px;
      cursor: pointer;
      .canvasIndex {
        margin-top: 5px;
        font-size: 12px;
        margin-bottom: 5px;
        font-weight: bold;
        text-align: center;
      }

      &:not(:last-child) {
        border-bottom: 1px solid #f1f1f1;
      }

      &:hover {
        .previewItem {
          box-shadow: 0 0 0 2px @color;
        }
        .canvasIndex {
          color: @color;
        }
      }
    }

    .activePreviewItem {
      .previewItem {
        box-shadow: 0 0 0 2px @color;
      }
      .canvasIndex {
        color: @color;
      }
    }
  }

  .empty {
    height: calc(100vh - 85px - 80px);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
  }
}
